USE [QLLTBV]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[NguoiThucHien] [int] NULL,
	[HanhDong] [nvarchar](100) NULL,
	[ThoiGian] [datetime] NULL,
	[MoTa] [nvarchar](255) NULL,
	[MaNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCa] [int] IDENTITY(1,1) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[PhuCap] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhCaTruc]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhCaTruc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HeSoNgayThuong] [float] NOT NULL,
	[HeSoCuoiTuan] [float] NOT NULL,
	[HeSoNgayLe] [float] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhCaTruc_Phong]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhCaTruc_Phong](
	[MaPhong] [int] NOT NULL,
	[MaCa] [int] NOT NULL,
	[SoBacSi] [int] NULL,
	[SoYTa] [int] NULL,
	[SoDieuDuong] [int] NULL,
	[SoNhanVienKhac] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC,
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [int] IDENTITY(1,1) NOT NULL,
	[MaLichTruc] [int] NULL,
	[MaQR] [int] NULL,
	[ThoiGianVao] [datetime] NULL,
	[ThoiGianRa] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[ThietBi] [nvarchar](100) NULL,
	[MaNV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChungChiHanhNghe]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungChiHanhNghe](
	[MaChungChi] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[SoChungChi] [varchar](255) NULL,
	[NgayCap] [date] NULL,
	[NoiCap] [varchar](255) NULL,
	[NgayHetHan] [date] NULL,
	[TrangThai] [varchar](255) NULL,
	[TepDinhKem] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChungChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonNghiPhep]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonNghiPhep](
	[MaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[LoaiNghi] [nvarchar](50) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[LyDo] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDongLaoDong]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongLaoDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[SoHopDong] [nvarchar](50) NULL,
	[LoaiHopDong] [nvarchar](50) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[LuongCoBan] [float] NULL,
	[TepDinhKem] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrucNgay]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrucNgay](
	[MaNhanVien] [int] NULL,
	[MaCa] [int] NULL,
	[MaPhong] [int] NULL,
	[NgayTruc] [date] NULL,
	[TrangThai] [varchar](255) NULL,
	[GhiChu] [varchar](255) NULL,
	[MaLichTruc] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichTruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongCoBan]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongCoBan](
	[MaLoaiLuong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[LuongCoBan] [bigint] NOT NULL,
	[PhuCapNghe] [bigint] NULL,
	[PhuCapDocHai] [bigint] NULL,
	[PhuCapKhac] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongPhuCap]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongPhuCap](
	[MaPhuCap] [int] IDENTITY(1,1) NOT NULL,
	[MaLuong] [int] NOT NULL,
	[LoaiPhuCap] [nvarchar](50) NULL,
	[SoTien] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhuCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongThang]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongThang](
	[MaLuong] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[LuongCoBan] [bigint] NULL,
	[PhuCapCoDinh] [bigint] NULL,
	[PhuCapTrucCa] [bigint] NULL,
	[PhuCapKhac] [bigint] NULL,
	[TongThuNhap] [bigint] NULL,
	[BHXH] [bigint] NULL,
	[ThueTNCN] [bigint] NULL,
	[ThucLanh] [bigint] NULL,
	[NgayTinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhauHash] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung_Quyen]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung_Quyen](
	[MaNguoiDung] [int] NOT NULL,
	[MaQuyen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[SDT] [varchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[MaViTri] [int] NULL,
	[MaPhongBan] [int] NULL,
	[MaKhoa] [int] NULL,
	[TrangThai] [nvarchar](255) NULL,
	[CCCD] [varchar](255) NULL,
	[NgayVaoLam] [date] NULL,
	[TrinhDoChuyenMon] [varchar](255) NULL,
	[LienHeKhanCap] [varchar](255) NULL,
	[SDTLienHeKhanCap] [varchar](255) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[HopDongFile] [nvarchar](255) NULL,
	[MaLoaiLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongCaTruc]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongCaTruc](
	[MaNhanVien] [int] NULL,
	[MaCa] [int] NULL,
	[MaPhong] [int] NULL,
	[MaKhoa] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[LapLaiHangTuan] [int] NULL,
	[NguoiTao] [varchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaPhanCong] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
	[MoTa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PheDuyetYeuCau]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PheDuyetYeuCau](
	[MaPheDuyet] [int] IDENTITY(1,1) NOT NULL,
	[LoaiYeuCau] [nvarchar](50) NULL,
	[MaYeuCau] [int] NULL,
	[NguoiDuyet] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[NgayDuyet] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPheDuyet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPhongBan] [int] IDENTITY(1,1) NOT NULL,
	[TenPhongBan] [nvarchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
	[MaKhoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongVatLy]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongVatLy](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[SoPhong] [nvarchar](20) NOT NULL,
	[TenPhong] [nvarchar](100) NULL,
	[LoaiPhong] [nvarchar](50) NULL,
	[Tang] [int] NULL,
	[Khu] [nvarchar](50) NULL,
	[MaPhongBan] [int] NULL,
	[MaKhoa] [int] NULL,
	[MoTa] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QR_ChamCong]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QR_ChamCong](
	[MaQR] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[NgayTao] [date] NULL,
	[MaQRCode] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[MaThongBao] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[NoiDung] [nvarchar](255) NULL,
	[NgayGui] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiemChungSucKhoe]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiemChungSucKhoe](
	[MaTiemChung] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[Loai] [varchar](255) NULL,
	[NgayTiem] [date] NULL,
	[KetQua] [varchar](255) NULL,
	[GhiChu] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTiemChung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhan]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhan](
	[MaTinNhan] [int] IDENTITY(1,1) NOT NULL,
	[NguoiGui] [int] NULL,
	[NguoiNhan] [int] NULL,
	[NoiDung] [nvarchar](255) NULL,
	[ThoiGianGui] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViTriCongViec]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViTriCongViec](
	[MaViTri] [int] IDENTITY(1,1) NOT NULL,
	[TenViTri] [nvarchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
	[MaPhongBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaViTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauDoiCa]    Script Date: 11/26/2025 12:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauDoiCa](
	[MaYeuCau] [int] IDENTITY(1,1) NOT NULL,
	[NguoiGui] [int] NULL,
	[NguoiNhan] [int] NULL,
	[MaCa] [int] NULL,
	[NgayTruc] [date] NULL,
	[LyDo] [nvarchar](200) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([MaLog], [NguoiThucHien], [HanhDong], [ThoiGian], [MoTa], [MaNhanVien]) VALUES (1002, NULL, N'Cập nhật Chứng chỉ hành nghề', CAST(N'2025-12-10T14:30:00.000' AS DateTime), N'Thêm chứng chỉ Chuyên khoa I – Nội tổng quát', 1)
INSERT [dbo].[AuditLog] ([MaLog], [NguoiThucHien], [HanhDong], [ThoiGian], [MoTa], [MaNhanVien]) VALUES (1003, NULL, N'Cập nhật Chứng chỉ hành nghề', CAST(N'2025-12-10T12:30:00.000' AS DateTime), N'Thêm chứng chỉ Chuyên khoa I – Nội tổng quát', 1)
INSERT [dbo].[AuditLog] ([MaLog], [NguoiThucHien], [HanhDong], [ThoiGian], [MoTa], [MaNhanVien]) VALUES (1004, NULL, N'Cập nhật Chứng chỉ hành nghề', CAST(N'2025-12-10T11:30:00.000' AS DateTime), N'Thêm chứng chỉ Chuyên khoa I – Nội tổng quát', 1)
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[CaLamViec] ON 

INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [PhuCap]) VALUES (1, N'Ca sáng', CAST(N'07:00:00' AS Time), CAST(N'13:00:00' AS Time), CAST(100000.00 AS Decimal(10, 2)))
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [PhuCap]) VALUES (2, N'Ca chiều', CAST(N'13:00:00' AS Time), CAST(N'19:00:00' AS Time), CAST(120000.00 AS Decimal(10, 2)))
INSERT [dbo].[CaLamViec] ([MaCa], [TenCa], [GioBatDau], [GioKetThuc], [PhuCap]) VALUES (3, N'Ca đêm', CAST(N'19:00:00' AS Time), CAST(N'07:00:00' AS Time), CAST(150000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[CaLamViec] OFF
GO
SET IDENTITY_INSERT [dbo].[CauHinhCaTruc] ON 

INSERT [dbo].[CauHinhCaTruc] ([Id], [HeSoNgayThuong], [HeSoCuoiTuan], [HeSoNgayLe], [UpdatedAt]) VALUES (1, 1, 200, 300, CAST(N'2025-11-23T12:26:26.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[CauHinhCaTruc] OFF
GO
INSERT [dbo].[CauHinhCaTruc_Phong] ([MaPhong], [MaCa], [SoBacSi], [SoYTa], [SoDieuDuong], [SoNhanVienKhac], [GhiChu]) VALUES (1, 1, 1, 1, 1, 0, N'Nội sáng')
INSERT [dbo].[CauHinhCaTruc_Phong] ([MaPhong], [MaCa], [SoBacSi], [SoYTa], [SoDieuDuong], [SoNhanVienKhac], [GhiChu]) VALUES (2, 2, 2, 1, 1, 0, N'Ngoại chiều')
INSERT [dbo].[CauHinhCaTruc_Phong] ([MaPhong], [MaCa], [SoBacSi], [SoYTa], [SoDieuDuong], [SoNhanVienKhac], [GhiChu]) VALUES (3, 3, 1, 2, 1, 0, N'Cấp cứu đêm')
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([MaChamCong], [MaLichTruc], [MaQR], [ThoiGianVao], [ThoiGianRa], [TrangThai], [ThietBi], [MaNV]) VALUES (1, NULL, NULL, CAST(N'2025-11-01T08:00:00.000' AS DateTime), CAST(N'2025-11-01T17:00:00.000' AS DateTime), NULL, NULL, N'1')
INSERT [dbo].[ChamCong] ([MaChamCong], [MaLichTruc], [MaQR], [ThoiGianVao], [ThoiGianRa], [TrangThai], [ThietBi], [MaNV]) VALUES (2, NULL, NULL, CAST(N'2025-11-02T08:15:00.000' AS DateTime), CAST(N'2025-11-02T17:10:00.000' AS DateTime), NULL, NULL, N'1')
INSERT [dbo].[ChamCong] ([MaChamCong], [MaLichTruc], [MaQR], [ThoiGianVao], [ThoiGianRa], [TrangThai], [ThietBi], [MaNV]) VALUES (3, NULL, NULL, CAST(N'2025-11-03T08:05:00.000' AS DateTime), CAST(N'2025-11-03T17:20:00.000' AS DateTime), NULL, NULL, N'1')
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChungChiHanhNghe] ON 

INSERT [dbo].[ChungChiHanhNghe] ([MaChungChi], [MaNhanVien], [SoChungChi], [NgayCap], [NoiCap], [NgayHetHan], [TrangThai], [TepDinhKem]) VALUES (1, 1, N'CC-NV01-2020-001', CAST(N'2020-05-10' AS Date), N'B? Y t?', CAST(N'2025-05-10' AS Date), N'DaDuyet', N'cc_nv01.pdf')
INSERT [dbo].[ChungChiHanhNghe] ([MaChungChi], [MaNhanVien], [SoChungChi], [NgayCap], [NoiCap], [NgayHetHan], [TrangThai], [TepDinhKem]) VALUES (2, 2, N'CC-NV02-2020-002', CAST(N'2019-08-12' AS Date), N'ÐH Y Hà N?i', CAST(N'2024-08-12' AS Date), N'DaDuyet', N'cc_nv02.pdf')
INSERT [dbo].[ChungChiHanhNghe] ([MaChungChi], [MaNhanVien], [SoChungChi], [NgayCap], [NoiCap], [NgayHetHan], [TrangThai], [TepDinhKem]) VALUES (3, 3, N'CC-NV03-2019-003', CAST(N'2019-03-22' AS Date), N'B?nh vi?n TW', CAST(N'2024-03-22' AS Date), N'DaDuyet', N'cc_nv03.pdf')
SET IDENTITY_INSERT [dbo].[ChungChiHanhNghe] OFF
GO
SET IDENTITY_INSERT [dbo].[Khoa] ON 

INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [MoTa]) VALUES (1, N'Khoa Nội tổng quát', N'Điều trị nội khoa và bệnh mạn tính')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [MoTa]) VALUES (2, N'Khoa Ngoại tổng hợp', N'Phẫu thuật và hậu phẫu')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa], [MoTa]) VALUES (3, N'Khoa Cấp cứu', N'Tiếp nhận cấp cứu 24/7')
SET IDENTITY_INSERT [dbo].[Khoa] OFF
GO
SET IDENTITY_INSERT [dbo].[LichTrucNgay] ON 

INSERT [dbo].[LichTrucNgay] ([MaNhanVien], [MaCa], [MaPhong], [NgayTruc], [TrangThai], [GhiChu], [MaLichTruc]) VALUES (1, 1, 1, CAST(N'2024-10-07' AS Date), N'Ðang làm vi?c', N'Tr?c theo phân công', 1)
INSERT [dbo].[LichTrucNgay] ([MaNhanVien], [MaCa], [MaPhong], [NgayTruc], [TrangThai], [GhiChu], [MaLichTruc]) VALUES (2, 1, 2, CAST(N'2024-10-07' AS Date), N'Ðang làm vi?c', N'Tr?c theo phân công', 2)
INSERT [dbo].[LichTrucNgay] ([MaNhanVien], [MaCa], [MaPhong], [NgayTruc], [TrangThai], [GhiChu], [MaLichTruc]) VALUES (3, 1, 3, CAST(N'2024-10-07' AS Date), N'Ðang làm vi?c', N'Tr?c theo phân công', 3)
SET IDENTITY_INSERT [dbo].[LichTrucNgay] OFF
GO
SET IDENTITY_INSERT [dbo].[LuongCoBan] ON 

INSERT [dbo].[LuongCoBan] ([MaLoaiLuong], [TenLoai], [LuongCoBan], [PhuCapNghe], [PhuCapDocHai], [PhuCapKhac]) VALUES (1, N'BS Nội trú', 15000000, 3500000, 1000000, 500000)
INSERT [dbo].[LuongCoBan] ([MaLoaiLuong], [TenLoai], [LuongCoBan], [PhuCapNghe], [PhuCapDocHai], [PhuCapKhac]) VALUES (2, N'BS CKI', 16000000, 4000000, 1200000, 600000)
INSERT [dbo].[LuongCoBan] ([MaLoaiLuong], [TenLoai], [LuongCoBan], [PhuCapNghe], [PhuCapDocHai], [PhuCapKhac]) VALUES (3, N'BS CKII', 18000000, 5000000, 1500000, 700000)
SET IDENTITY_INSERT [dbo].[LuongCoBan] OFF
GO
SET IDENTITY_INSERT [dbo].[LuongPhuCap] ON 

INSERT [dbo].[LuongPhuCap] ([MaPhuCap], [MaLuong], [LoaiPhuCap], [SoTien]) VALUES (1, 1, N'TrucNgay', 2000000)
INSERT [dbo].[LuongPhuCap] ([MaPhuCap], [MaLuong], [LoaiPhuCap], [SoTien]) VALUES (2, 1, N'TrucDem', 3000000)
INSERT [dbo].[LuongPhuCap] ([MaPhuCap], [MaLuong], [LoaiPhuCap], [SoTien]) VALUES (3, 1, N'NgheY', 3500000)
SET IDENTITY_INSERT [dbo].[LuongPhuCap] OFF
GO
SET IDENTITY_INSERT [dbo].[LuongThang] ON 

INSERT [dbo].[LuongThang] ([MaLuong], [MaNhanVien], [Thang], [Nam], [LuongCoBan], [PhuCapCoDinh], [PhuCapTrucCa], [PhuCapKhac], [TongThuNhap], [BHXH], [ThueTNCN], [ThucLanh], [NgayTinh]) VALUES (1, 1, 10, 2024, 15000000, 5000000, 5000000, 500000, 28200000, 2440000, 1500000, 23625000, CAST(N'2024-10-30' AS Date))
INSERT [dbo].[LuongThang] ([MaLuong], [MaNhanVien], [Thang], [Nam], [LuongCoBan], [PhuCapCoDinh], [PhuCapTrucCa], [PhuCapKhac], [TongThuNhap], [BHXH], [ThueTNCN], [ThucLanh], [NgayTinh]) VALUES (2, 2, 10, 2024, 16000000, 5200000, 4500000, 600000, 27300000, 2600000, 1600000, 23100000, CAST(N'2024-10-30' AS Date))
INSERT [dbo].[LuongThang] ([MaLuong], [MaNhanVien], [Thang], [Nam], [LuongCoBan], [PhuCapCoDinh], [PhuCapTrucCa], [PhuCapKhac], [TongThuNhap], [BHXH], [ThueTNCN], [ThucLanh], [NgayTinh]) VALUES (3, 3, 10, 2024, 16000000, 5200000, 4800000, 600000, 27600000, 2600000, 1600000, 23400000, CAST(N'2024-10-30' AS Date))
SET IDENTITY_INSERT [dbo].[LuongThang] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [MaNhanVien], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai]) VALUES (1, 1, N'admin01', N'123456', N'QuanTriVien', N'HoatDong')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [MaNhanVien], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai]) VALUES (2, 2, N'ngoai_tung', N'123456', N'BacSi', N'HoatDong')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [MaNhanVien], [TenDangNhap], [MatKhauHash], [VaiTro], [TrangThai]) VALUES (3, 3, N'capcuu_nam', N'123456', N'BacSi', N'HoatDong')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
INSERT [dbo].[NguoiDung_Quyen] ([MaNguoiDung], [MaQuyen]) VALUES (1, 1)
INSERT [dbo].[NguoiDung_Quyen] ([MaNguoiDung], [MaQuyen]) VALUES (1, 2)
INSERT [dbo].[NguoiDung_Quyen] ([MaNguoiDung], [MaQuyen]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [MaViTri], [MaPhongBan], [MaKhoa], [TrangThai], [CCCD], [NgayVaoLam], [TrinhDoChuyenMon], [LienHeKhanCap], [SDTLienHeKhanCap], [AnhDaiDien], [HopDongFile], [MaLoaiLuong]) VALUES (1, N'Nguyễn Văn Phúc', CAST(N'1985-04-12' AS Date), 1, N'0912345678', N'phuc.noi@hospital.vn', 1, 1, 1, N'Đang làm việc', N'012345678901', CAST(N'2010-03-15' AS Date), N'BSCKI', N'Nguy?n Minh Thành', N'0909331122', N'nv001.jpg', N'hd001.pdf', 1)
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [MaViTri], [MaPhongBan], [MaKhoa], [TrangThai], [CCCD], [NgayVaoLam], [TrinhDoChuyenMon], [LienHeKhanCap], [SDTLienHeKhanCap], [AnhDaiDien], [HopDongFile], [MaLoaiLuong]) VALUES (2, N'Lê Văn Tùng', CAST(N'1982-10-10' AS Date), 1, N'0909090000', N'tung.ngoai@hospital.vn', 2, 2, 2, N'Đang làm việc', N'023456789012', CAST(N'2009-08-21' AS Date), N'BSÐK', N'Lê Thành Nhân', N'0909442211', N'nv002.jpg', N'hd002.pdf', 2)
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [NgaySinh], [GioiTinh], [SDT], [Email], [MaViTri], [MaPhongBan], [MaKhoa], [TrangThai], [CCCD], [NgayVaoLam], [TrinhDoChuyenMon], [LienHeKhanCap], [SDTLienHeKhanCap], [AnhDaiDien], [HopDongFile], [MaLoaiLuong]) VALUES (3, N'Ðinh Van Nam', CAST(N'1988-09-12' AS Date), 1, N'0988332211', N'nam.cc@hospital.vn', 3, 3, 3, N'Đang làm việc', N'034567890123', CAST(N'2012-06-10' AS Date), N'DSÐH', N'Ðinh Nh?t Vu', N'0938112244', N'nv003.jpg', N'hd003.pdf', 2)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanCongCaTruc] ON 

INSERT [dbo].[PhanCongCaTruc] ([MaNhanVien], [MaCa], [MaPhong], [MaKhoa], [NgayBatDau], [NgayKetThuc], [LapLaiHangTuan], [NguoiTao], [TrangThai], [GhiChu], [MaPhanCong]) VALUES (1, 1, 1, 1, CAST(N'2025-11-17' AS Date), CAST(N'2025-11-23' AS Date), 1, NULL, N'1', N'Nội trú A - Ca sáng', 1)
INSERT [dbo].[PhanCongCaTruc] ([MaNhanVien], [MaCa], [MaPhong], [MaKhoa], [NgayBatDau], [NgayKetThuc], [LapLaiHangTuan], [NguoiTao], [TrangThai], [GhiChu], [MaPhanCong]) VALUES (2, 2, 2, 2, CAST(N'2025-11-17' AS Date), CAST(N'2025-11-23' AS Date), 1, NULL, N'1', N'Ngoại A - Ca chiều', 2)
INSERT [dbo].[PhanCongCaTruc] ([MaNhanVien], [MaCa], [MaPhong], [MaKhoa], [NgayBatDau], [NgayKetThuc], [LapLaiHangTuan], [NguoiTao], [TrangThai], [GhiChu], [MaPhanCong]) VALUES (3, 3, 3, 3, CAST(N'2025-11-17' AS Date), CAST(N'2025-11-23' AS Date), 1, NULL, N'1', N'Cấp cứu 24/7 - Ca đêm', 3)
SET IDENTITY_INSERT [dbo].[PhanCongCaTruc] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanQuyen] ON 

INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen], [MoTa]) VALUES (1, N'TaoLich', N'Tạo, chỉnh sửa lịch trực')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen], [MoTa]) VALUES (2, N'DuyetNghi', N'Duyệt đơn nghỉ phép')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen], [MoTa]) VALUES (3, N'QuanLyNhanVien', N'Quản lý hồ sơ nhân viên')
SET IDENTITY_INSERT [dbo].[PhanQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongBan] ON 

INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MoTa], [MaKhoa]) VALUES (1, N'Nội A', N'Khám nội trú', 1)
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MoTa], [MaKhoa]) VALUES (2, N'Ngoại A', N'Phẫu thuật', 2)
INSERT [dbo].[PhongBan] ([MaPhongBan], [TenPhongBan], [MoTa], [MaKhoa]) VALUES (3, N'Cấp cứu A', N'Trực 24/7', 3)
SET IDENTITY_INSERT [dbo].[PhongBan] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongVatLy] ON 

INSERT [dbo].[PhongVatLy] ([MaPhong], [SoPhong], [TenPhong], [LoaiPhong], [Tang], [Khu], [MaPhongBan], [MaKhoa], [MoTa]) VALUES (1, N'101', N'Nội khám', N'Điều trị', 1, N'A', 1, 1, N'Khám nội tổng quát')
INSERT [dbo].[PhongVatLy] ([MaPhong], [SoPhong], [TenPhong], [LoaiPhong], [Tang], [Khu], [MaPhongBan], [MaKhoa], [MoTa]) VALUES (2, N'201', N'Phòng mổ', N'Phẫu thuật', 2, N'B', 2, 2, N'Phẫu thuật chính')
INSERT [dbo].[PhongVatLy] ([MaPhong], [SoPhong], [TenPhong], [LoaiPhong], [Tang], [Khu], [MaPhongBan], [MaKhoa], [MoTa]) VALUES (3, N'301', N'Cấp cứu 24/7', N'Trực', 3, N'C', 3, 3, N'Cấp cứu')
SET IDENTITY_INSERT [dbo].[PhongVatLy] OFF
GO
SET IDENTITY_INSERT [dbo].[TiemChungSucKhoe] ON 

INSERT [dbo].[TiemChungSucKhoe] ([MaTiemChung], [MaNhanVien], [Loai], [NgayTiem], [KetQua], [GhiChu]) VALUES (1, 1, N'Khám s?c kh?e t?ng quát', CAST(N'2024-01-05' AS Date), N'Ð?t', N'S?c kh?e ?n d?nh')
INSERT [dbo].[TiemChungSucKhoe] ([MaTiemChung], [MaNhanVien], [Loai], [NgayTiem], [KetQua], [GhiChu]) VALUES (2, 1, N'Tiêm phòng cúm', CAST(N'2024-02-10' AS Date), N'Ð?t', N'Không ph?n ?ng')
INSERT [dbo].[TiemChungSucKhoe] ([MaTiemChung], [MaNhanVien], [Loai], [NgayTiem], [KetQua], [GhiChu]) VALUES (3, 2, N'Khám s?c kh?e t?ng quát', CAST(N'2024-01-08' AS Date), N'Ð?t', N'Huy?t áp hoi cao')
SET IDENTITY_INSERT [dbo].[TiemChungSucKhoe] OFF
GO
SET IDENTITY_INSERT [dbo].[ViTriCongViec] ON 

INSERT [dbo].[ViTriCongViec] ([MaViTri], [TenViTri], [MoTa], [MaPhongBan]) VALUES (1, N'Bác sĩ nội', N'Điều trị nội trú', 1)
INSERT [dbo].[ViTriCongViec] ([MaViTri], [TenViTri], [MoTa], [MaPhongBan]) VALUES (2, N'Bác sĩ ngoại', N'Phẫu thuật', 2)
INSERT [dbo].[ViTriCongViec] ([MaViTri], [TenViTri], [MoTa], [MaPhongBan]) VALUES (3, N'Bác sĩ cấp cứu', N'Trực cấp cứu', 3)
SET IDENTITY_INSERT [dbo].[ViTriCongViec] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC06CCB437B]    Script Date: 11/26/2025 12:12:40 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC0C566EF6A]    Script Date: 11/26/2025 12:12:40 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[CauHinhCaTruc] ADD  DEFAULT ((1.0)) FOR [HeSoNgayThuong]
GO
ALTER TABLE [dbo].[CauHinhCaTruc] ADD  DEFAULT ((1.5)) FOR [HeSoCuoiTuan]
GO
ALTER TABLE [dbo].[CauHinhCaTruc] ADD  DEFAULT ((3.0)) FOR [HeSoNgayLe]
GO
ALTER TABLE [dbo].[CauHinhCaTruc] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LuongCoBan] ADD  DEFAULT ((0)) FOR [PhuCapNghe]
GO
ALTER TABLE [dbo].[LuongCoBan] ADD  DEFAULT ((0)) FOR [PhuCapDocHai]
GO
ALTER TABLE [dbo].[LuongCoBan] ADD  DEFAULT ((0)) FOR [PhuCapKhac]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (N'HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm việc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_NhanVien]
GO
ALTER TABLE [dbo].[CauHinhCaTruc_Phong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongVatLy] ([MaPhong])
GO
ALTER TABLE [dbo].[CauHinhCaTruc_Phong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongVatLy] ([MaPhong])
GO
ALTER TABLE [dbo].[CauHinhCaTruc_Phong]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
GO
ALTER TABLE [dbo].[CauHinhCaTruc_Phong]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD FOREIGN KEY([MaQR])
REFERENCES [dbo].[QR_ChamCong] ([MaQR])
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD FOREIGN KEY([MaQR])
REFERENCES [dbo].[QR_ChamCong] ([MaQR])
GO
ALTER TABLE [dbo].[ChungChiHanhNghe]  WITH CHECK ADD  CONSTRAINT [FK_ChungChi_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChungChiHanhNghe] CHECK CONSTRAINT [FK_ChungChi_MaNhanVien]
GO
ALTER TABLE [dbo].[DonNghiPhep]  WITH CHECK ADD  CONSTRAINT [FK_DonNghiPhep_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonNghiPhep] CHECK CONSTRAINT [FK_DonNghiPhep_MaNhanVien]
GO
ALTER TABLE [dbo].[HopDongLaoDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDongLaoDong_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HopDongLaoDong] CHECK CONSTRAINT [FK_HopDongLaoDong_MaNhanVien]
GO
ALTER TABLE [dbo].[LichTrucNgay]  WITH CHECK ADD  CONSTRAINT [FK_LichTrucNgay_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichTrucNgay] CHECK CONSTRAINT [FK_LichTrucNgay_MaNhanVien]
GO
ALTER TABLE [dbo].[LuongPhuCap]  WITH CHECK ADD  CONSTRAINT [FK_LuongPhuCap_MaLuong] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[LuongThang] ([MaLuong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LuongPhuCap] CHECK CONSTRAINT [FK_LuongPhuCap_MaLuong]
GO
ALTER TABLE [dbo].[LuongThang]  WITH CHECK ADD  CONSTRAINT [FK_LuongThang_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LuongThang] CHECK CONSTRAINT [FK_LuongThang_MaNhanVien]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_MaNhanVien]
GO
ALTER TABLE [dbo].[NguoiDung_Quyen]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NguoiDung_Quyen]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[NguoiDung_Quyen]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[NguoiDung_Quyen]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaViTri])
REFERENCES [dbo].[ViTriCongViec] ([MaViTri])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaViTri])
REFERENCES [dbo].[ViTriCongViec] ([MaViTri])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LuongCoBan] FOREIGN KEY([MaLoaiLuong])
REFERENCES [dbo].[LuongCoBan] ([MaLoaiLuong])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LuongCoBan]
GO
ALTER TABLE [dbo].[PhanCongCaTruc]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhanCongCaTruc]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhanCongCaTruc]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongVatLy] ([MaPhong])
GO
ALTER TABLE [dbo].[PhanCongCaTruc]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongVatLy] ([MaPhong])
GO
ALTER TABLE [dbo].[PhanCongCaTruc]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
GO
ALTER TABLE [dbo].[PhanCongCaTruc]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
GO
ALTER TABLE [dbo].[PhanCongCaTruc]  WITH CHECK ADD  CONSTRAINT [FK_PhanCongCaTruc_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanCongCaTruc] CHECK CONSTRAINT [FK_PhanCongCaTruc_MaNhanVien]
GO
ALTER TABLE [dbo].[PheDuyetYeuCau]  WITH CHECK ADD FOREIGN KEY([MaYeuCau])
REFERENCES [dbo].[DonNghiPhep] ([MaDon])
GO
ALTER TABLE [dbo].[PheDuyetYeuCau]  WITH CHECK ADD FOREIGN KEY([MaYeuCau])
REFERENCES [dbo].[DonNghiPhep] ([MaDon])
GO
ALTER TABLE [dbo].[PhongBan]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhongBan]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhongVatLy]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhongVatLy]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[PhongVatLy]  WITH CHECK ADD FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[PhongVatLy]  WITH CHECK ADD FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[QR_ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_QR_ChamCong_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QR_ChamCong] CHECK CONSTRAINT [FK_QR_ChamCong_MaNhanVien]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK_ThongBao_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK_ThongBao_MaNhanVien]
GO
ALTER TABLE [dbo].[TiemChungSucKhoe]  WITH CHECK ADD  CONSTRAINT [FK_TiemChungSK_MaNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TiemChungSucKhoe] CHECK CONSTRAINT [FK_TiemChungSK_MaNhanVien]
GO
ALTER TABLE [dbo].[TinNhan]  WITH CHECK ADD  CONSTRAINT [FK_TinNhan_NguoiGui] FOREIGN KEY([NguoiGui])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinNhan] CHECK CONSTRAINT [FK_TinNhan_NguoiGui]
GO
ALTER TABLE [dbo].[ViTriCongViec]  WITH CHECK ADD FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[ViTriCongViec]  WITH CHECK ADD FOREIGN KEY([MaPhongBan])
REFERENCES [dbo].[PhongBan] ([MaPhongBan])
GO
ALTER TABLE [dbo].[YeuCauDoiCa]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
GO
ALTER TABLE [dbo].[YeuCauDoiCa]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLamViec] ([MaCa])
GO
